/* Most of the content of this file is credit to the Arctic Apricity theme (https://github.com/agajews/ArcticApricity)
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */
/* GLOBALS */
stage {
  font-family: Cantarell, Sans-Serif;
  font-size: 11pt;
  color: #eeeeec; }

/* WIDGETS */
/* Buttons */
.button {
    border-radius: 3px;
    border-width: 1px;
    padding: 4px 32px;
    color: #3C3C3C;
    background-gradient-start: rgb(239,239,239);
    background-gradient-end: rgb(239,239,239);
    border-color: rgb(239,239,239);
    box-shadow: inset 0 1px rgba(0,0,0,0);
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black; }
.button:focus,
.button:hover {
    background-gradient-start: rgb(249,249,249);
    background-gradient-end: rgb(249,249,249);
    border-color: rgb(249,249,249);
    box-shadow: inset 0 1px rgba(0,0,0,0);}
.button:insensitive {
    color: #D1D5D8;
    background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    border-color: #EFEFEF;
    box-shadow: inset 0 1px rgba(0,0,0,0);
    text-shadow: none;
    icon-shadow: none; }
.button:active {
    background-gradient-start: rgb(234,234,234);
    background-gradient-end: rgb(234,234,234);
    border-color: rgb(234,234,234);
    box-shadow: inset 0 1px rgba(0,0,0,0);}

/* Entries */
StEntry {
    border-radius: 3px;
    padding: 2px;
    border-width: 1px;
    color: rgb(190,190,190);
    border-color: rgba(30,30,30,0.3);
    background-color: transparent;
    box-shadow: none;
    selection-background-color: #2196F3;
    selected-color: #ffffff;
    transition-duration: 200ms; }
StEntry:focus,
StEntry:hover {
    color: rgb(60,60,60);
    transition-duration: 200ms;
    background-color: rgba(250,250,250,1); }
StEntry:insensitive {
    color: #939695;
    border-color: #323636;
    box-shadow: none; }
StEntry StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: #f57900;
    padding: 0 4px; }

/* Scrollbars */
StScrollView.vfade {
    -st-vfade-offset: 68px; }
StScrollView.hfade {
    -st-hfade-offset: 68px; }

StScrollBar {
    padding: 0; }
StScrollView StScrollBar {
    min-width: 14px;
    min-height: 14px; }
StScrollBar StBin#trough {
    border-radius: 0;
    background-color: transparent; }
StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
    border-radius: 8px;
    background-color: #cdcdcd;
    margin: 3px; }
StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
    background-color: #cdcdcd; }
StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active {
    background-color: #bcbcbc; }

/* Slider */
.slider {
    height: 1em;
    -slider-height: 0.2em;
    -slider-background-color: #dcdcdc;
    -slider-border-color: transparent;
    -slider-active-background-color: #888888;
    -slider-active-border-color: transparent;
    -slider-border-width: 1px;
    -slider-handle-radius: 6px; }

/* Check Boxes */
.check-box StBoxLayout {
  spacing: .8em; }
.check-box StBin {
  width: 24px;
  height: 22px;
  background-image: url("resource:///org/gnome/shell/theme/checkbox-off.svg"); }
.check-box:focus StBin {
  background-image: url("resource:///org/gnome/shell/theme/checkbox-off-focused.svg"); }
.check-box:checked StBin {
  background-image: url("resource:///org/gnome/shell/theme/checkbox.svg"); }
.check-box:focus:checked StBin {
  background-image: url("resource:///org/gnome/shell/theme/checkbox-focused.svg"); }

/* Switches */
.toggle-switch {
  width: 65px;
  height: 22px;
  background-size: contain; }

.toggle-switch-us {
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-us.svg"); }
  .toggle-switch-us:checked {
    background-image: url("resource:///org/gnome/shell/theme/toggle-on-us.svg"); }

.toggle-switch-intl {
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-intl.svg"); }
  .toggle-switch-intl:checked {
    background-image: url("resource:///org/gnome/shell/theme/toggle-on-intl.svg"); }

/* links */
.shell-link {
  color: #4a90d9; }
  .shell-link:hover {
    color: #74aae2; }

/* Modal Dialogs */
.modal-dialog {
  color: #5c616c;
  background-color: rgba(245, 246, 247, 1);
  border: none;
  padding: 0 5px 6px 5px; }
  .modal-dialog .modal-dialog-content-box {
    padding: 20px 10px 10px 10px; }
  .modal-dialog-linked-button {
    height: 39px;
    padding: 0;
    box-shadow: inset 0 0 black;
    border-top-width: 0px;
    border-bottom-width: 0;
    color: #3C3C3C;
    background-gradient-start: rgb(239,239,239);
    background-gradient-end: rgb(239,239,239);
    border-radius:0px;
    border-color: transparent; }
    .modal-dialog-linked-button:hover {
      background-gradient-start: rgb(249,249,249);
    background-gradient-end: rgb(249,249,249); }
    .modal-dialog-linked-button:focus {
      background-gradient-start: rgb(249,249,249);
    background-gradient-end: rgb(249,249,249); }
    .modal-dialog-linked-button:active {
      color: #ffffff;
      background-color: #5294E2; }
    .modal-dialog-linked-button:insensitive {
      color: rgb(186, 195, 207);
      background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    color: #D1D5D8; }
    .modal-dialog-linked-button:first-child {
      border-radius: 0px 0px 2px 2px;
      border-color: transparent; }
    .modal-dialog-linked-button:last-child {
      border-right-width: 0px;
      border-color: transparent;
      border-radius: 0px 0px 2px 2px; }
    .modal-dialog-linked-button:first-child:last-child {
      border-right-width: 0px;
      border-color: transparent;
      border-radius: 0px 0px 2px 2px; }
  .modal-dialog .run-dialog-entry {
    width: 21em; }
  .modal-dialog .run-dialog-error-box {
    padding-top: 5px;
    spacing: 5px; }
  .modal-dialog .run-dialog-label {
    font-size: 0; }

/* End Session Dialog */
.end-session-dialog {
  spacing: 42px; }
  .end-session-dialog-list {
    padding-top: 20px; }
  .end-session-dialog-layout {
    padding-left: 17px; }
    .end-session-dialog-layout:rtl {
      padding-right: 17px; }
  .end-session-dialog-description {
    width: 28em;
    padding-bottom: 10px; }
    .end-session-dialog-description:rtl {
      text-align: right; }
  .end-session-dialog-warning {
    width: 28em;
    color: #F27835;
    padding-top: 6px; }
    .end-session-dialog-warning:rtl {
      text-align: right; }
  .end-session-dialog-logout-icon {
    border: 0px solid transparent;
    border-radius: 2px;
    width: 48px;
    height: 48px;
    background-size: contain; }
  .end-session-dialog-shutdown-icon {
    color: #5c616c;
    width: 48px;
    height: 48px; }
  .end-session-dialog-inhibitor-layout {
    spacing: 16px;
    max-height: 200px;
    padding-right: 10px;
    padding-left: 10px; }
  .end-session-dialog-session-list, .end-session-dialog-app-list {
    spacing: 1em; }
  .end-session-dialog-list-header {
    font-weight: bold; }
    .end-session-dialog-list-header:rtl {
      text-align: right; }
  .end-session-dialog-app-list-item, .end-session-dialog-session-list-item {
    spacing: 1em; }
  .end-session-dialog-app-list-item-name, .end-session-dialog-session-list-item-name {
    font-weight: bold; }
  .end-session-dialog-app-list-item-description {
    color: #686d7a;
    font-size: 8pt; }
  .end-session-dialog .modal-dialog-linked-button:last-child {
    color: #ffffff;
    background-color: #F04A50; }
    .end-session-dialog .modal-dialog-linked-button:last-child:hover {
      color: #ffffff;
      background-color: #f47479; }
    .end-session-dialog .modal-dialog-linked-button:last-child:active {
      color: #ffffff;
      background-color: #ee3239; }

/* Restart */
/*.end-session-dialog .modal-dialog-button:first-child {
    background-gradient-start: rgb(239,239,239);
    background-gradient-end: rgb(239,239,239);
    border-color: rgb(239,239,239);
    color: #3C3C3C; }
.end-session-dialog .modal-dialog-button:first-child:focus,
.end-session-dialog .modal-dialog-button:first-child:hover {
    background-gradient-start: rgb(249,249,249);
    background-gradient-end: rgb(249,249,249);
    border-color: rgb(249,249,249); }
.end-session-dialog .modal-dialog-button:first-child:insensitive {
    color: #D1D5D8;
    background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    border-color: #EFEFEF; }
.end-session-dialog .modal-dialog-button:first-child:active {
    background-gradient-start: rgb(234,234,234);
    background-gradient-end: rgb(234,234,234);
    border-color: rgb(234,234,234); }

/* Poweroff */
/*.end-session-dialog .modal-dialog-button:last-child {
    background-gradient-start: rgb(209,72,65);
    background-gradient-end: rgb(209,72,65);
    border-color: rgb(209,72,65);
    color: #FAFAFA; }
.end-session-dialog .modal-dialog-button:last-child:focus,
.end-session-dialog .modal-dialog-button:last-child:hover {
    background-gradient-start: rgb(219,82,75);
    background-gradient-end: rgb(219,82,75);
    border-color: rgb(219,82,75); }
.end-session-dialog .modal-dialog-button:last-child:insensitive {
    color: #D1D5D8;
    background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    border-color: #EFEFEF; }
.end-session-dialog .modal-dialog-button:last-child:active {
    background-gradient-start: rgb(204,67,61);
    background-gradient-end: rgb(204,67,61);
    border-color: rgb(204,67,61); }

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: 48px; }

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px; }

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px; }

.mount-question-dialog-subject {
  max-width: 500px; }

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px; }

.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em; }

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px; }

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px; }

.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px; }

.show-processes-dialog-app-list-item {
  color: #d6d6d1; }
  .show-processes-dialog-app-list-item:hover {
    color: #eeeeec; }
  .show-processes-dialog-app-list-item:ltr {
    padding-right: 1em; }
  .show-processes-dialog-app-list-item:rtl {
    padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px; }
.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px; }

.show-processes-dialog-app-list-item-name {
  font-size: 10pt; }

/* Password or Authentication Dialog */
.prompt-dialog {
  width: 500px;
  border: 0px; }

.prompt-dialog-main-layout {
  spacing: 24px;
  padding: 10px; }

.prompt-dialog-message-layout {
  spacing: 16px; }

.prompt-dialog-headline {
  font-weight: bold;
  color: #3C3C3C; }

.prompt-dialog-description:rtl {
  text-align: right; }

.prompt-dialog-password-box {
  spacing: 1em;
  padding-bottom: 1em; }

.prompt-dialog-error-label {
  font-size: 10pt;
  color: #D14841;
  padding-bottom: 8px; }

.prompt-dialog-info-label {
  font-size: 10pt;
  padding-bottom: 8px; }

.prompt-dialog StEntry {
    background: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
    color: #3C3C3C; }

.prompt-dialog .modal-dialog-button:last-child {
    background-gradient-start: rgb(209,72,65);
    background-gradient-end: rgb(209,72,65);
    border-color: rgb(209,72,65);
    color: #FAFAFA; }
.prompt-dialog .modal-dialog-button:last-child:focus,
.prompt-dialog .modal-dialog-button:last-child:hover {
    background-gradient-start: rgb(219,82,75);
    background-gradient-end: rgb(219,82,75);
    border-color: rgb(219,82,75); }
.prompt-dialog .modal-dialog-button:last-child:insensitive {
    color: #D1D5D8;
    background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    border-color: #EFEFEF; }
.prompt-dialog .modal-dialog-button:last-child:active {
    background-gradient-start: rgb(204,67,61);
    background-gradient-end: rgb(204,67,61);
    border-color: rgb(204,67,61); }

.hidden {
  color: transparent; }

.prompt-dialog-null-label {
  font-size: 10pt;
  padding-bottom: 8px; }

/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px; }
  .polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px; }

.polkit-dialog-user-root-label {
  color: #f57900; }

.polkit-dialog-user-icon {
  border-radius: 5px;
  background-size: contain;
  width: 48px;
  height: 48px; }

/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em; }

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em; }

/* Popvers/Menus */
.popup-menu {
    min-width: 200px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    color:#666666;
    border-color:transparent; }
.popup-menu .popup-sub-menu {
    background-color: #fafafa;
    color:#666666;
    border-color:transparent;
    box-shadow: inset 0,0,6px,#AAA; }
.popup-menu .popup-menu-content {
    padding: 1em 0em; 
    background-color: #fafafa;
    color: #666666;
    border-color: transparent;
    border-width: 2px;
    border-radius: 4px;}
.popup-menu .popup-menu-item {
    spacing: 12px;
    color:#666666;
    border-color:transparent;
    background-color: transparent; 
    border-color:transparent;}
.popup-menu .popup-menu-item:ltr {
    padding: .4em 1.75em .4em 0em;
    color:#666666;
    background-color: transparent; 
    border-color:transparent;}
.popup-menu .popup-menu-item:rtl {
    padding: .4em 0em .4em 1.75em;
    background-color:transparent;
    color:#666666; 
    border-color:transparent;}
.popup-menu .popup-menu-item:checked {
    background-color: transparent;
    color:#666666;
    border-color:transparent;
    font-weight: normal; }
.popup-menu .popup-menu-item.selected {
    background-color:transparent;
    color: #666666; 
    border-color:transparent;}
.popup-menu .popup-menu-item:active {
    background-color: transparent;
    color: #222222; 
    border-color:transparent;}
.popup-menu .popup-menu-item:insensitive {
    color: #888888; }
.popup-menu .popup-inactive-menu-item {
    color: #666666; }
.popup-menu .popup-inactive-menu-item:insensitive {
      color: #888888; }
.popup-menu.panel-menu {
    -boxpointer-gap: 4px;
    margin-bottom: 1.75em;
    color:#666666; }

.popup-menu-ornament {
  text-align: right;
  width: 1em; }

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 5px;
    -arrow-background-color: #fafafa;
    -arrow-border-width: 2px;
    -arrow-border-color: #fafafa;
    -arrow-base: 24px;
    -arrow-rise: 11px;
}

.popup-menu-boxpointer.fallback-app-menu {
    -arrow-border-radius: 4px;
    -arrow-background-color: #fafafa;
    -arrow-border-width: 2px;
    -arrow-border-color: transparent;
    /*-arrow-base: 24px;
    -arrow-rise: 11px;*/
}

.popup-menu-boxpointer.fallback-app-menu.dark {
    -arrow-background-color: #fafafa;
    -arrow-border-color: transparent;
}

.popup-separator-menu-item {
  height: 1px;
  margin: 6px 64px;
  background-color: transparent;
  border-color: #cdcdcd;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.background-menu {
  -boxpointer-gap: 4px;
  -arrow-rise: 0px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    border-color:transparent; }

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/
/* OSD */
.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px; }
.osd-window .osd-monitor-label {
    font-size: 3em; }
.osd-window .level {
    height: 0.6em;
    border-radius: 0.3em;
    background-color: rgba(11, 12, 13, 0.5);
    color: #eeeeec; }

/* App Switcher */
.switcher-popup {
	padding: 8px;
	spacing: 16px; }

.switcher-list-item-container {
	spacing: 8px; }

.switcher-list .item-box {
	padding: 8px;
	border-radius: 4px; }

.switcher-list .item-box:outlined {
	padding: 6px;
	border: 2px solid rgba(0,0,0,0.7); }

.switcher-list .item-box:selected {
	background-color:#5294e2;
	color: #fff; }

.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 4px; }

.switcher-list .thumbnail {
	width: 256px; }

.switcher-list .separator {
	width: 1px;
	background: rgba(0,0,0,0.7); }

.switcher-arrow {
	border-color: transparent;
	color: #FFFFFF; }

.switcher-arrow:highlighted {
	color: #dbdee0; }

.input-source-switcher-symbol {
	font-size: 34pt;
	width: 96px;
	height: 96px; }

/* Workspace Switcher */
.workspace-switcher-group {
	padding: 12px;}

.workspace-switcher {
	background: transparent;
	border: 1px;
	border-radius: 0px;
	padding: 0px;
	spacing: 12px; }

.ws-switcher-active-up, .ws-switcher-active-down {
	height: 50px;
	background-color:#5294e2;
	color: #ffffff;
	background-size: 32px;
	border-radius: 4px; }

.ws-switcher-box {
	height: 50px;
	border: none;
	background-color: rgba(159, 176, 185, 0.1);
	border-radius: 4px; }

.osd-window,
.resize-popup,
.switcher-list, .workspace-switcher-container {
	color: #dbdee0;
	background-color: #454d50;
	border: none;
	border-radius: 8px;
	padding: 12px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
	border: none; }

/* Tiled window previews */
.tile-preview {
  background-color: rgba(33, 93, 156, 0.5);
  border: 1px solid #2196F3; }

.tile-preview-left.on-primary {
  border-radius: 6px 6px 0 0; }

.tile-preview-right.on-primary {
  border-radius: 0 6px 0 0; }

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 6px 6px 0 0; }

/* TOP BAR */
/* Panel */

#panel {
    background-color: rgba(30, 30, 30, 0);
    font-weight: bold;
    height: 1.86em;
}

#panel.unlock-screen,
#panel.login-screen {
    background-color: transparent;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#panel .panel-button {
			background-color: rgba(0,0,0,0.01);
			box-shadow: inset 0 -2px 0px transparent;
			background-image: none;
			background-gradient-direction: none;
			color: white;
			text-shadow: 0 0 4px rgba(0,0,0,.5);
			icon-shadow: 0 0 4px rgba(0,0,0,.5); }

#panel .panel-button .app-menu-icon {
			-st-icon-style: symbolic;
			margin-top:14px;
			margin-left: 4px;
			margin-right: 4px;
			width:0px;
			height:0px; }

#panel .panel-button .system-status-icon{
			icon-shadow: 0 0 4px rgba(0,0,0,.5);
			text-shadow: 0 0 4px rgba(0,0,0,.5);
}

.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: #242424;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-border-color: transparent;
}

.panel-corner.lock-screen,
.panel-corner.unlock-screen,
.panel-corner.login-screen {
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
}
#calendarArea {
  padding: 0.75em 1.0em; }

.calendar {
  margin-bottom: 1em; }

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
  margin: 0 1.5em; }

.datemenu-calendar-column {
  spacing: 0.5em; }

.datemenu-displays-section {
  padding-bottom: 3em; }

.datemenu-today-button,
.world-clocks-button,
.message-list-section-title {
  border-radius: 4px;
  padding: .4em; }

.message-list-section-list:ltr {
  padding-left: .4em; }

.message-list-section-list:rtl {
  padding-right: .4em; }

.datemenu-today-button:hover, .datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.message-list-section-title:hover,
.message-list-section-title:focus {
  background-color: #ededed; }
.datemenu-today-button:active,
.world-clocks-button:active,
.message-list-section-title:active {
  color: white;
  background-color: #cdcdcd; }

.datemenu-today-button .date-label {
  font-size: 1.5em; }

.world-clocks-header,
.message-list-section-title {
  color: #666666;
  font-weight: thin; }

.world-clocks-grid {
  spacing-rows: 0.4em; }

.calendar-month-label {
  color: #888888;
  font-weight: bold;
  padding: 8px 0; }

.pager-button {
  color: white;
  background-color: transparent;
  width: 32px;
  border-radius: 4px; }
  .pager-button:hover, .pager-button:focus {
    background-color: rgba(238, 238, 236, 0.05); }
  .pager-button:active {
    background-color: rgba(57, 63, 63, 0.05); }

.calendar-change-month-back {
  background-image: url("resource:///org/gnome/shell/theme/calendar-arrow-left.svg"); }
  .calendar-change-month-back:rtl {
    background-image: url("resource:///org/gnome/shell/theme/calendar-arrow-right.svg"); }

.calendar-change-month-forward {
  background-image: url("resource:///org/gnome/shell/theme/calendar-arrow-right.svg"); }
  .calendar-change-month-forward:rtl {
    background-image: url("resource:///org/gnome/shell/theme/calendar-arrow-left.svg"); }

.calendar-day-base {
    font-size: 80%;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    padding: 0.1em;
    margin: 2px;
    border-radius: 1.4em; }
.calendar-day-base:hover,
.calendar-day-base:focus {
    background-color: #dcdcdc; }
.calendar-day-base:active {
    color: #ffffff;
    font-weight:thin;
    background-color: #5294e2;
    border-color: transparent; }
.calendar-day-base.calendar-day-heading {
    color: #8e8e80;
    margin-top: 1em;
    font-size: 70%; }

.calendar-day {
    border-width: 0; }

.calendar-day-top {
    border-top-width: 1px; }

.calendar-day-left {
    border-left-width: 1px; }

.calendar-nonwork-day {
    color: #888888; }

.calendar-today {
    font-weight: bold;
    border: 0px solid rgba(28, 31, 31, 0.5); }

.calendar-day-with-events {
    color: #888888;
    font-weight: bold;
    background: #dedede; }

.calendar-other-month-day {
    font-weight:light;
    color: #aaaaaa;
    opacity: 0.5; }

/* Message list */
.message-list {
    width: 420px; }

.message-list-sections {
    spacing: 1.5em; }

.message-list-section,
.message-list-section-list {
    spacing: 0.7em; }

.message-list-section-title-box {
    spacing: 0.4em; }

.message-list-section-close > StIcon {
    icon-size: 16px;
    border-radius: 8px;
    color: #aaa;
    background-color: transparent; }

/* FIXME: how do you do this in sass? */
.message-list-section-close:hover > StIcon,
.message-list-section-close:focus > StIcon {
    background-color: white;
    color: #3C3C3C; }

.message {
  background-color: transparent;
  border-radius: 3px; }
.message:hover,
.message:focus {
    background-color: #ededed; }

.message-icon-bin {
  padding: 8px 0px 8px 8px; }
  .message-icon-bin:rtl {
    padding: 8px 8px 8px 0px; }

.message-icon-bin > StIcon {
  icon-size: 48px; }

.message-secondary-bin {
  color: #8e8e80; }

.message-secondary-bin > StIcon {
  icon-size: 16px; }

.message-title {
  font-weight: bold; }

.message-content {
  padding: 8px; }

.system-switch-user-submenu-icon {
  icon-size: 24px;
  border: 1px solid rgba(238, 238, 236, 0.4); }

#appMenu {
    spinner-image: url("resource:///org/gnome/shell/theme/process-working.svg");
    spacing: 4px; }
#appMenu .label-shadow {
    color: transparent; }

.aggregate-menu {
    width: 360px; }
.aggregate-menu .popup-menu-icon {
    padding: 0 4px; }

.system-menu-action {
    color: #777777;
    border-radius: 32px;
    /* wish we could do 50% */
    padding: 14px;
    border: none; }
.system-menu-action:hover,
.system-menu-action:focus {
    background-color: #dcdcdc;
    color: #777777;
    border: none;
    padding: 14px; }
.system-menu-action:active {
    background-color: #cdcdcd;
    color: #777777; }
.system-menu-action > StIcon {
    icon-size: 16px; }

.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-ltr.png");
  background-size: contain; }

.ripple-box:rtl {
  background-image: url("resource:///org/gnome/shell/theme/corner-ripple-rtl.png"); }

.popup-menu-arrow {
  width: 16px;
  height: 16px; }

.popup-menu-icon {
  icon-size: 1.09em; }

.window-close {
	box-shadow: none;
	color: #db5565;
	background-color: transparent;
	border: none;
  background-image: url("close-window.svg");
  background-size: 36px;
  height: 36px;
  width: 36px; }
  
.window-close:hover {
	color: transparent;
}

.window-close {
  -shell-close-overlap: 1em; }

/* NETWORK DIALOGS */
.nm-dialog {
  max-height: 500px;
  min-height: 450px;
  min-width: 470px; }

.nm-dialog StScrollView StScrollBar {
    min-width: 0px;
    min-height: 0px; }

.nm-dialog-content {
  spacing: 20px; }

.nm-dialog-header-hbox {
  spacing: 10px; }

.nm-dialog-airplane-box {
  spacing: 12px; }

.nm-dialog-airplane-headline {
  font-weight: bold;
  text-align: center; }

.nm-dialog-airplane-text {
  color: #eeeeec; }

.nm-dialog-header-icon {
  icon-size: 32px; }

.nm-dialog-scroll-view {
    border: 1px solid #ddd;
    border-radius: 0px; }

.nm-dialog-header {
  font-weight: bold; }

.nm-dialog-item {
  font-size: 12pt;
  border-bottom: 0px solid #1c1f1f;
  padding: 12px;
  spacing: 20px; }

.nm-dialog-item:selected {
  background-color: #5294e2;
  color: #ffffff; }

.nm-dialog-icons {
  spacing: .5em; }

.nm-dialog-icon {
    icon-size: 16px; }

.end-session-dialog .modal-dialog-button:first-child {
    background-gradient-start: rgb(239,239,239);
    background-gradient-end: rgb(239,239,239);
    border-color: rgb(239,239,239);
    color: #3C3C3C; }
.end-session-dialog .modal-dialog-button:first-child:focus,
.end-session-dialog .modal-dialog-button:first-child:hover {
    background-gradient-start: rgb(249,249,249);
    background-gradient-end: rgb(249,249,249);
    border-color: rgb(249,249,249); }
.end-session-dialog .modal-dialog-button:first-child:insensitive {
    color: #D1D5D8;
    background-gradient-start: #EFEFEF;
    background-gradient-end: #EFEFEF;
    border-color: #EFEFEF; }
.end-session-dialog .modal-dialog-button:first-child:active {
    background-gradient-start: rgb(234,234,234);
    background-gradient-end: rgb(234,234,234);
    border-color: rgb(234,234,234); }

.no-networks-label {
  color: #999999; }

.no-networks-box {
  spacing: 12px; }

/* OVERVIEW */
#overview {
  spacing: 24px; }

.overview-controls {
  padding-bottom: 32px; }

.window-picker {
    -horizontal-spacing: 32px;
    -vertical-spacing: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px; }
.window-picker.external-monitor {
    padding: 32px; }

.window-clone-border {
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0); }

.window-caption {
	text-align: center;
    spacing: 25px;
    color: #eeeeec;
    background-color: rgba(30,30,30,0.5);
    border-radius: 4px;
    padding: 4px 12px;
    -shell-caption-spacing: 12px; }
.window-caption:hover {
    border: 0px solid rgba(255, 255, 255, 0);
    background: rgba(41,105,176,0.5); }

.search-entry {
    border-color: transparent;
    width: 320px;
    padding: 7px 9px;
    border-radius: 6px; }
.search-entry:focus {
    padding: 6px 8px;
    border-width: 2px; }
.search-entry .search-entry-icon {
    icon-size: 1em;
    padding: 0 4px;
    color: rgba(238, 238, 236, 0.7); }
.search-entry:hover .search-entry-icon,
.search-entry:focus .search-entry-icon {
    color: rgba(30,30,30,0.7); }

#searchResultsBin {
  max-width: 1000px; }

#searchResultsContent {
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px; }

.search-section {
  spacing: 16px; }

.search-section-content {
  spacing: 32px; }

.list-search-results {
  spacing: 3px; }

.search-section-separator {
  -gradient-height: 1px;
  -gradient-start: rgba(255, 255, 255, 0);
  -gradient-end: rgba(255, 255, 255, 0.1);
  -margin-horizontal: 1.5em;
  height: 1px; }

.list-search-result-content {
  spacing: 12px;
  padding: 12px; }

.list-search-result-title {
  font-size: 1.5em;
  color: #e2e2df; }

.list-search-result-description {
  color: #cacac4; }

.search-provider-icon {
  padding: 15px; }

.search-provider-icon-more {
  width: 16px;
  height: 16px;
  background-image: url("resource:///org/gnome/shell/theme/more-results.svg"); }

/* DASHBOARD */
#dash {
    font-size: 9pt;
    color: #eeeeec;
    background-color: transparent;
    padding: 8px 0;
    border: 0px solid rgba(128, 128, 128, 0.0);
    border-left: 0px;
    border-radius: 0px 8px 8px 0px; }
#dash:rtl {
    border-radius: 8px 0 0 8px; }
#dash .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px; }
#dash .empty-dash-drop-target {
    width: 24px;
    height: 24px; }

.dash-item-container > StWidget {
    padding: 4px 8px; }

.dash-label {
    border-radius: 7px;
    padding: 4px 12px;
    color: #eeeeec;
    background-color: rgba(30,30,30,0.5);
    text-align: center;
    -x-offset: 8px; }

/* App Vault/Grid */
.icon-grid {
    spacing: 30px;
    -shell-grid-horizontal-item-size: 136px;
    -shell-grid-vertical-item-size: 136px; }
.icon-grid .overview-icon {
    icon-size: 64px; }

.app-view-controls {
    padding-bottom: 32px; }

.app-view-control {
    padding: 4px 32px;
    color: #FAFAFA;
    border: 0px;
    background-color: rgba(0,0,0,0.15); }
.app-view-control:active {
    color: #FAFAFA;
    background-color: rgba(20,20,20,0.5); }
.app-view-control:hover,
.app-view-control:focus {
    color: #FAFAFA;
    background-color: rgba(20,20,20,0.8); }
.app-view-control:checked {
    background-color: rgba(0,0,0,0.4); }
.app-view-control:first-child {
    border-right-width: 0;
    border-radius: 10px 0 0 10px; }
.app-view-control:last-child {
    border-radius: 0 10px 10px 0; }

.search-provider-icon:active, .search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
  background-color: rgba(23, 25, 26, 0.9); }
.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
  background-color: rgba(238, 238, 236, 0.1);
  transition-duration: 200ms; }

.app-well-app:active .overview-icon, .app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
  background-color: rgba(230, 230, 230, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0); }
.app-well-app:hover .overview-icon, .app-well-app:focus .overview-icon, .app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
  background-color: rgba(238, 238, 236, 0.1);
  transition-duration: 0ms;
  border-image: none;
  background-image: none; }

/*Running App*/

.app-well-app.running > .overview-icon {
    border-radius: 6px;
    color:white;
    box-shadow: inset 0 -2px 0 0 #9fb0b9;
    background-image: none;
    background-gradient-direction: none;
}

.app-well-app-running-dot {
  width: 8px;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 0px; }

.search-provider-icon,
.list-search-result, .app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
    color: #eeeeec;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid transparent;
    transition-duration: 100ms;
    text-align: center; }

.app-well-app.app-folder > .overview-icon {
    background-color: rgba(46, 52, 54, 0.4); }

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
    color: white;
    transition-duration: 100ms; }

.app-folder-popup {
  -arrow-border-radius: 8px;
  -arrow-background-color: rgba(46, 52, 54, 0.3);
  -arrow-base: 24px;
  -arrow-rise: 11px; }

.app-folder-popup-bin {
  padding: 5px; }

.app-folder-icon {
  padding: 5px;
  spacing-rows: 5px;
  spacing-columns: 5px; }

.page-indicator {
  padding: 15px 20px; }
  .page-indicator .page-indicator-icon {
    width: 18px;
    height: 18px;
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-inactive.svg); }
  .page-indicator:hover .page-indicator-icon {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-hover.svg); }
  .page-indicator:active .page-indicator-icon {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-active.svg); }
  .page-indicator:checked .page-indicator-icon, .page-indicator:checked:active {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-checked.svg); }

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px 8px;
  spacing: 4px; }

.workspace-thumbnails {
    visible-width: 32px;
    spacing: 11px;
    padding: 8px;
    border-radius: 8px 0 0 8px; }
.workspace-thumbnails:rtl {
    border-radius: 0 8px 8px 0; }

.workspace-thumbnail-indicator {
  border: 3px solid rgba(250,250,250,0.5);
  padding: 1px; }

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout {
  padding: 0px 88px 10px 88px; }

.workspace-thumbnails {
  color: #eeeeec;
  background-color: rgba(0,0,0,0);
  border: 0px solid rgba(250,250,250,0.2); }

.search-statustext, .no-frequent-applications-label {
  font-size: 2em;
  font-weight: bold;
  color: #eeeeec; }

/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
    link-color: #2a76c6; }

.notification-banner {
    font-size: 11pt;
    width: 34em;
    margin: 5px;
    border-radius: 4px;
    color: #eeeeec;
    background-color: #343a3a;
    border: 0px solid #1c1f1f; }
.notification-banner:hover {
    background-color: #343a3a; }
.notification-banner:focus {
    background-color: #343a3a; }
.notification-banner .notification-icon {
    padding: 5px; }
.notification-banner .notification-content {
    padding: 5px;
    spacing: 5px; }
.notification-banner .secondary-icon {
    icon-size: 1.09em; }
.notification-banner .notification-actions {
    background-color: transparent;
    padding-top: 0px;
    spacing: 1px; }
.notification-banner .notification-button {
    padding: 4px 4px 5px;
    background-color: #222728; }
.notification-banner .notification-button:first-child {
    border-radius: 0 0 0 6px; }
.notification-banner .notification-button:last-child {
    border-radius: 0 0 6px 0; }
.notification-banner .notification-button:hover,
.notification-banner .notification-buttonfocus {
    background-color: #292f30; }
.notification-banner .button {
    color: #EFEFEF;
    border: 0px;
    background: #4e565a; }
.notification-banner StEntry {
    background-color: white;
}

.summary-source-counter {
  font-size: 10pt;
  font-weight: bold;
  height: 1.6em;
  width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: #2196F3;
  color: #ffffff;
  border: 2px solid #eeeeec;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.9em; }

.secondary-icon {
  icon-size: 1.09em; }

.chat-body {
  spacing: 5px; }

.chat-response {
  margin: 5px; }

.chat-log-message {
  color: #d6d6d1; }

.chat-new-group {
  padding-top: 1em; }

.chat-received {
  padding-left: 4px; }
  .chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px; }

.chat-sent {
  padding-left: 18pt;
  color: #cacac4; }
  .chat-sent:rtl {
    padding-left: 0;
    padding-right: 18pt; }

.chat-meta-message {
  padding-left: 4px;
  font-size: 9pt;
  font-weight: bold;
  color: #bebeb6; }
  .chat-meta-message:rtl {
    padding-left: 0;
    padding-right: 4px; }

.hotplug-transient-box {
  spacing: 6px;
  padding: 2px 72px 2px 12px; }

.hotplug-notification-item {
  padding: 2px 10px; }
  .hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px; }

.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 2px 5px; }

.hotplug-resident-box {
  spacing: 8px; }

.hotplug-resident-mount {
  spacing: 8px;
  border-radius: 4px; }
  .hotplug-resident-mount:hover {
    background-color: rgba(57, 63, 63, 0.3); }

.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 6px; }

.hotplug-resident-mount-icon {
  icon-size: 24px;
  padding-left: 6px; }

.hotplug-resident-eject-icon {
  icon-size: 16px; }

.hotplug-resident-eject-button {
  padding: 7px;
  border-radius: 5px;
  color: pink; }

/* Eeeky things */
.legacy-tray {
    background-color: rgba(0,0,0,0.7);
    border: 0px solid #1c1f1f;
    border-bottom-width: 0; }
.legacy-tray:ltr {
    border-radius: 0 6px 0 0;
    border-left-width: 0; }
.legacy-tray:rtl {
    border-radius: 6px 0 0 0;
    border-right-width: 0; }

.legacy-tray-handle,
.legacy-tray-icon {
  padding: 6px; }
  .legacy-tray-handle StIcon,
  .legacy-tray-icon StIcon {
    icon-size: 24px; }
  .legacy-tray-handle:hover, .legacy-tray-handle:focus,
  .legacy-tray-icon:hover,
  .legacy-tray-icon:focus {
    background-color: rgba(238, 238, 236, 0.1); }

.legacy-tray-icon-box {
  spacing: 12px; }
  .legacy-tray-icon-box:ltr {
    padding-left: 12px; }
  .legacy-tray-icon-box:rtl {
    padding-right: 12px; }
  .legacy-tray-icon-box StButton {
    width: 24px;
    height: 24px; }

.magnifier-zoom-region {
  border: 2px solid #2196F3; }
  .magnifier-zoom-region.full-screen {
    border-width: 0; }

/* On-screen Keyboard */
#keyboard {
  background-color: rgba(46, 52, 54, 0.7); }

.keyboard-layout {
  spacing: 10px;
  padding: 10px; }

.keyboard-row {
  spacing: 15px; }

.keyboard-key {
  color: #eeeeec;
  background-color: #2e3436;
  border-color: rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px #454f52;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #1c1f1f;
  color: white; }
  .keyboard-key:focus {
    color: #eeeeec;
    border-color: #2196F3;
    box-shadow: inset 0 1px #454f52;
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black; }
  .keyboard-key:hover, .keyboard-key:checked {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: #454f52;
    box-shadow: inset 0 1px #5d696d;
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black; }
  .keyboard-key:active {
    color: white;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: #222728;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none; }
  .keyboard-key:grayed {
    background-color: #2e3436;
    color: #eeeeec;
    border-color: rgba(0, 0, 0, 0.7); }

.keyboard-subkeys {
  color: white;
  padding: 5px;
  -arrow-border-radius: 10px;
  -arrow-background-color: rgba(46, 52, 54, 0.7);
  -arrow-border-width: 2px;
  -arrow-border-color: rgba(238, 238, 236, 0.2);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px; }

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em; }

.candidate-index {
  padding: 0 0.5em 0 0;
  color: #d6d6d1; }

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 4px; }
  .candidate-box:selected, .candidate-box:hover {
    background-color: #2196F3;
    color: #ffffff; }

.candidate-page-button-box {
  height: 2em; }
  .vertical .candidate-page-button-box {
    padding-top: 0.5em; }
  .horizontal .candidate-page-button-box {
    padding-left: 0.5em; }

.candidate-page-button {
  padding: 4px; }

.candidate-page-button-previous {
  border-radius: 4px 0px 0px 4px;
  border-right-width: 0; }

.candidate-page-button-next {
  border-radius: 0px 4px 4px 0px; }

.candidate-page-button-icon {
  icon-size: 1em; }

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
  background-size: contain;
  border: 2px solid #eeeeec;
  color: #eeeeec;
  border-radius: 3px; }
  .framed-user-icon:hover {
    border-color: white;
    color: white; }

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em; }

.login-dialog {
  border: none;
  background-color: transparent; }
  .login-dialog .modal-dialog-button-box {
    spacing: 3px; }
  .login-dialog .modal-dialog-button {
    padding: 3px 18px; }
    .login-dialog .modal-dialog-button:default {
      color: #eeeeec;
      background-color: rgba(33, 93, 156, 0.5);
      border-color: rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 1px #454f52;
      text-shadow: 0 1px black;
      icon-shadow: 0 1px black; }
      .login-dialog .modal-dialog-button:default:hover, .login-dialog .modal-dialog-button:default:focus {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(33, 93, 156, 0.7);
        box-shadow: inset 0 1px #5d696d;
        text-shadow: 0 1px black;
        icon-shadow: 0 1px black; }
      .login-dialog .modal-dialog-button:default:active {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: #1c5187;
        box-shadow: none;
        text-shadow: none;
        icon-shadow: none; }
      .login-dialog .modal-dialog-button:default:insensitive {
        color: #939695;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(66, 71, 73, 0.7);
        box-shadow: none;
        text-shadow: none;
        icon-shadow: none; }

.login-dialog-logo-bin {
  padding: 24px 0px; }

.login-dialog-banner {
  color: #d6d6d1; }

.login-dialog-button-box {
  spacing: 5px; }

.login-dialog-message-warning {
  color: #f57900; }

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px; }

.login-dialog-user-selection-box {
  padding: 100px 0px; }
  .login-dialog-user-selection-box .login-dialog-not-listed-label {
    padding-left: 2px; }
    .login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label, .login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
      color: #eeeeec; }

.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: #a6a69b;
  padding-top: 1em; }

.login-dialog-user-list-view {
  -st-vfade-offset: 1em; }

.login-dialog-user-list {
  spacing: 12px;
  padding: .2em;
  width: 23em; }
  .login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
    background-color: #2196F3;
    color: #ffffff; }
  .login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
    border-right: 2px solid #2196F3; }

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: .2em;
  color: #a6a69b; }
  .login-dialog-user-list-item:ltr {
    padding-right: 1em; }
  .login-dialog-user-list-item:rtl {
    padding-left: 1em; }
  .login-dialog-user-list-item:hover {
    background-color: #2196F3;
    color: #ffffff; }
  .login-dialog-user-list-item .login-dialog-timed-login-indicator {
    height: 2px;
    margin: 2px 0 0 0;
    background-color: #eeeeec; }
  .login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
    background-color: #ffffff; }

.login-dialog-username,
.user-widget-label {
  color: #eeeeec;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px; }

.user-widget-label:ltr {
  padding-left: 18px; }
.user-widget-label:rtl {
  padding-right: 18px; }

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em; }

.login-dialog-prompt-label {
  color: #bebeb6;
  font-size: 110%;
  padding-top: 1em; }

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em; }

.login-dialog-session-list-button {
  color: #a6a69b; }
  .login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
    color: #eeeeec; }
  .login-dialog-session-list-button:active {
    color: #747467; }

.screen-shield-arrows {
  padding-bottom: 3em; }

.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80px;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.screen-shield-clock {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5em; }

.screen-shield-clock-time {
  font-size: 72pt;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.screen-shield-clock-date {
  font-size: 28pt; }

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px; }
  .screen-shield-notifications-container .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0; }
  .screen-shield-notifications-container .notification,
  .screen-shield-notifications-container .screen-shield-notification-source {
    padding: 12px 6px;
    border: 1px solid rgba(238, 238, 236, 0.2);
    background-color: rgba(46, 52, 54, 0.5);
    color: #eeeeec;
    border-radius: 4px; }
  .screen-shield-notifications-container .notification {
    margin-right: 15px; }

.screen-shield-notification-label {
  font-weight: bold;
  padding: 0px 0px 0px 12px; }

.screen-shield-notification-count-text {
  padding: 0px 0px 0px 12px; }

#panel.lock-screen {
  background-color: rgba(46, 52, 54, 0.5); }

.screen-shield-background {
  background: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }

#lockDialogGroup {
  background: #2e3436 url(resource:///org/gnome/shell/theme/noise-texture.png);
  background-repeat: repeat; }

#screenShieldNotifications StButton#vhandle, #screenShieldNotifications StButton#hhandle {
  background-color: rgba(57, 63, 63, 0.3); }
  #screenShieldNotifications StButton#vhandle:hover, #screenShieldNotifications StButton#vhandle:focus, #screenShieldNotifications StButton#hhandle:hover, #screenShieldNotifications StButton#hhandle:focus {
    background-color: rgba(57, 63, 63, 0.5); }
  #screenShieldNotifications StButton#vhandle:active, #screenShieldNotifications StButton#hhandle:active {
    background-color: rgba(33, 93, 156, 0.5); }

#LookingGlassDialog {
  background-color: rgba(0, 0, 0, 0.8);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px; }
  #LookingGlassDialog > #Toolbar {
    border: 1px solid grey;
    border-radius: 4px; }
  #LookingGlassDialog .labels {
    spacing: 4px; }
  #LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100ms;
    padding-left: .3em;
    padding-right: .3em; }
    #LookingGlassDialog .notebook-tab:hover {
      color: white;
      text-shadow: black 0px 2px 2px; }
    #LookingGlassDialog .notebook-tab:selected {
      border-bottom-width: 2px;
      border-color: #256ab1;
      color: white;
      text-shadow: black 0px 2px 2px; }
  #LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px; }
  #LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px; }

.lg-dialog StEntry {
  selection-background-color: #bbbbbb;
  selected-color: #333333; }
.lg-dialog .shell-link {
  color: #999999; }
  .lg-dialog .shell-link:hover {
    color: #dddddd; }

.lg-completions-text {
  font-size: .9em;
  font-style: italic; }

.lg-obj-inspector-title {
  spacing: 4px; }

.lg-obj-inspector-button {
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px; }
  .lg-obj-inspector-button:hover {
    border: 1px solid #ffffff; }

#lookingGlassExtensions {
  padding: 4px; }

.lg-extensions-list {
  padding: 4px;
  spacing: 6px; }

.lg-extension {
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  padding: 4px; }

.lg-extension-name {
  font-weight: bold; }

.lg-extension-meta {
  spacing: 6px; }

#LookingGlassPropertyInspector {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid grey;
  border-radius: 4px;
  padding: 6px; }



